body {
  text-align: center; /* Center the entire application */
  margin: 0; /* Remove default body margin */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the body takes up the full viewport height */
}

.App {
  text-align: left; /* Reset text alignment for the App content */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.square {
  width: 100px;
  height: 100px;
}
